# Build results
bin/
obj/

# .NET
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# ASP.NET
wwwroot/lib/

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Database files
*.db
*.db-shm
*.db-wal

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Secrets
appsettings.Development.json
